body {
    margin: 30px;
    padding: auto;
    text-align: justify;
    font-family:Dancing script;
    color: Black;
    background-color: pink;



}
p1{
    font-family: Rubik Distressed;

}
p2{
    font-family: Rubik Distressed;
}
p3{
    font-family: Rubik Distressed;
}
p4{
    font-family: Rubik Distressed;
}