@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');
:root{
    --cor-de-fundo:#9efec6;

}

body {
    margin: 30px;
    padding: auto;
    text-align: center;
    color: Black;
    background-color:var(--cor-de-fundo)
    
}
h1{
    font-family:Kalnia Glaze;
    }

